[submodule "external/WSL2"]
	path = external/WSL2
	url = https://github.com/Trundle/NixOS-WSL
[submodule "external/dotnix"]
	path = external/dotnix
	url = https://github.com/nyarla/dotnix
[submodule "external/wayland"]
	path = external/wayland
	url = https://github.com/nix-community/nixpkgs-wayland
