#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Version=1.0
Name=Creative Menu
Exec=ydotool key 56:1 60:1 60:0 56:0
Icon=color
Terminal=false
